@page "/"
@using shared
@using Services;

@inject IContactService ContactService
@inject NavigationManager NavigationManager


<PageTitle>Contacts</PageTitle>
@Message
<a href="/contactdetails">Add Contact</a>
@if (@contacts == null)
{
    <p><em>Cargando ... </em></p>
}
else
{
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
        FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true"
        PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" Data="@contacts" TItem="Contact"
        ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="Contact" Property="FullName" Filterable="true" Title="Full Name" Frozen="true"
                Width="80px" TextAlign="TextAlign.Left" />
            <RadzenDataGridColumn TItem="Contact" Property="Phone" Filterable="true" Title="Phone" Frozen="true"
                Width="40px" TextAlign="TextAlign.Left" />
            <RadzenDataGridColumn TItem="Contact" Property="Address" Filterable="true" Title="Addres" Frozen="true"
                Width="80px" TextAlign="TextAlign.Left" />

            <RadzenDataGridColumn TItem="Contact" Width="15px">
                <Template Context="data">
                    <RadzenLink Path="@($"/contactdetails/{data.Id}")">Edit</RadzenLink>
                </Template>
            </RadzenDataGridColumn>


        </Columns>
    </RadzenDataGrid>
    @* <RadzenGrid AllowFiltering="true"
FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
AllowPaging="true"
FilterMode="FilterMode.Advanced"
PageSize="4"
AllowSorting="true"
TItem="Contact"
Data="@contacts"
ColumnWidth="200px"
>
<Columns>
<RadzenGridColumn TItem="Contact" Property="FullName" Title="Name"></RadzenGridColumn>
<RadzenGridColumn TItem="Contact" Property="Phone" Title="Phone"></RadzenGridColumn>
<RadzenGridColumn TItem="Contact" Property="Address" Title="Address"></RadzenGridColumn>
<RadzenGridColumn TItem="Contact" Title="Edit">
<Template Context="data">
<RadzenLink Path="@($"/contactdetails/{data.Id}")">Edit</RadzenLink>
</Template>
</RadzenGridColumn>
</Columns>
</RadzenGrid> *@
}

@code {

    IEnumerable<Contact>? contacts;

    public string? Message { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            contacts = await ContactService.Getall();

        }
        catch (Exception e)
        {
            Message = "Error:" + e;
        }
    }


}